@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Chọn font mặc định cho toàn bộ trang */
  line-height: 1.6; /* Cài đặt line-height chuẩn cho thân trang */

}

html {
  font-size: 100%; /* Cài đặt font size mặc định */
}

